<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ShopManagementApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <entityFramework>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
	<appSettings>
		<add key="Server" value="localhost"/>
		<add key="Instance" value="SqlExpress"/>
		<add key="Database" value="MyShop"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>


		<add key="username1" value="admin"/>
		<add key="password1" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADEOxOKhepEKHuFTihO4EDgAAAAACAAAAAAAQZgAAAAEAACAAAAAyqBs+Mv38y+QkhGp2zAVBe7vnQ5CpfG3vEcb0EUdouQAAAAAOgAAAAAIAACAAAAC4TW4HohAsIZPzJxPLH+stDXj5a5s3d8c/bMgrTCRgOxAAAAD+B6FY35M6ILEFVnZJmMIYQAAAAGRebYeC9y9VDRgtSrHEaa0hAP/xpViLjinkQrej8Gd0AtO3nzCU6cuC2pFokJpRECFzqoNLpY1uMmR5+CajwZg="/>

		<add key="username2" value="sales1"/>
		<add key="password2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3+qNo8myHEa0q4DXwhd/twAAAAACAAAAAAAQZgAAAAEAACAAAAAI7xVwyWB0dwEVdITSL9boXd/vXBmL2RXIIzXCldeOngAAAAAOgAAAAAIAACAAAADeK23xVI/97X1hcTjLTQuzB1h7MNlR51D6tvm1za5gdyAAAAA6GHSeE8ngX/lj748YaxMtfjY2FwNcWYg93BuQe/o2g0AAAABH1CCrgAA7n5M8Vaa9EmTRfrRVpk+eW6NAdLuygwWWmDIbnC3HKCO6qqN8w+tGSByWC3g9iefS9kgr8nIsZ1Et"/>

		<add key="username3" value="sales2"/>
		<add key="password3" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3+qNo8myHEa0q4DXwhd/twAAAAACAAAAAAAQZgAAAAEAACAAAAAK9rhHWmERW1E5Dl/zVomM3fy7zxUvHJnkTeFzfkWtVgAAAAAOgAAAAAIAACAAAABuxw94CEFwChvEnRhuS1yemqdMBP915z0kyoQCZGOUpBAAAAAM/PntVhyRd2M274CsK5HmQAAAAIY3LJ4M8fdslYQEo8jTvRI37qK56iXkNc4ut9SZ9kpNinagqGvEgnFIEm2VUfFgayZY937ckN6acYsQe2qPR4k="/>
	</appSettings>
	
	
  <userSettings>
  <ShopManagementApp.Properties.Settings>
    <setting name="username" serializeAs="String">
    <value />
    </setting>
    <setting name="password" serializeAs="String">
    <value />
    </setting>
  </ShopManagementApp.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="MyShopEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MyShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>